<style> 

    .header-search input{
        box-sizing: border-box;
        width: 320px;
        border: 2px solid grey;
        height: 30px;
        outline: none;
        padding: 10px;
      }
      .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        height: 40px;
        
      }
      
      /* Style the dropdown content */
      .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
      }
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      /* Style the links inside the dropdown */
      .dropdown-content span {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color: white;
      }
      
      /* Change the background color of the dropdown links on hover */
      .dropdown-content span:hover {
        background-color: #f1f1f1;
      }
      
      /* Style the input field */
      .dropdown input{
        padding: 16px;
        font-size: 16px;
        width: 300px;
        height: 40px;
        border: 1px solid gray;
        outline:none;
        border-bottom: 1px solid #ccc;
      }
      
      /* Style the dropdown container */
      .dropdown {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
       
      }
      
      /* Adjust the position of the dropdown content */
      .dropdown-content {
        top: 50px;
        left: 0;
        width: 100%;
        text-align: center;
      }
</style>

<div>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="dropdown">
      <input type="text" placeholder="Search..." formControlName="searchInput">
      <button class="dropbtn">Filter</button>
      <div class="dropdown-content">
      <tr *ngFor="let list of dailyflow" (click)="onLineClick(list)" > 
     
        <span>{{this.list}}</span>
      </tr>
      </div>
   
    </div>
  </form>
</div>


 
  
  



