
<style>
.msg_card{
  box-sizing: border-box;
  width: 90%;
  height: 120px;
  border: 1px solid rgb(170, 170, 170);
  padding: 10px;
  color: gray;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
}
.msgbox_header{
   margin-top: 5px;
   padding: 5px;
   font-weight: bold;
   color: green;
}
.msg_thumbnail {
  resize: none; 
  overflow: auto; 
  max-height: 200px; 
  padding: 10px;
  outline: none;
  border: none;
  font-style: italic;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  
}


</style>
<p class="msgbox_header">Gelen kutusu </p>

<!-- (mouseover)="getsenderid()"> -->
<div class="msg_card" > 
    <span  (click)="routing()" ><strong>username {{sendername}}</strong> (msgcount)</span> 
    <br/>
    <div class="alt_cards" > 
    <span class="msg_thumbnail" rows="2"> {{msgThumbnail}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quae, perferendis, necessitatibus placeat ab nemo facilis, velit corporis qui sunt provident eius in cumque quibusdam amet porro aspernatur repellat dolores.</span> 
    </div>
    <div style="margin-top: 9px; font-size:13px; margin-left:12px;"> 
    
    <span onclick="deletecard(senderid)" style=" cursor:pointer; padding:3px; "> sil </span> 
    <span style="cursor: pointer; padding:3px;">arşivle</span>
    </div>
    <div>radiobtn</div>
</div>
