


<style> 
    .msggin-box-card {
   box-sizing: border-box;
   border: 1px solid green;
    width: 100%;
   height: 450px;
   min-height: 400px;
   overflow: scroll;
    }
  
    .inputplace{
        box-sizing: border-box;
        width: 100%;
        height: 100px;
        
        display: flex;
        flex-direction: row;
    }
    .inputplace textarea{
       
        width: 100%;
        height: 100px;
        padding: 10px;
    }
    .inputplace button{
        background-color: green;
        color: aliceblue;
        outline: none;
        padding: 10px;
        height: 60px;
        width: 90px;
    }
    .msgbox_header{
        margin-top: 5px;
        padding: 5px;
        font-weight: bold;
        color: green;
     }
     .msgcontent_sender{
        padding: 10px;
        float: left;
   
        box-sizing: border-box;
        border: 1px solid rgb(137, 137, 137);
        width: 70%;
        height: 70px; 
   
        margin-bottom: 10px;
        
    }
 
    .msgcontent_receiver{
      
        padding: 10px;
        float: right;
     
        box-sizing: border-box;
        border: 1px solid rgb(94, 94, 94);
        width: 70%;
        height: 70px; 
        
        margin-bottom: 10px;
         
    }
 
</style>
<p class="msgbox_header" >Gelen kutusu >>@{{sendername}} </p>

    <!-- Gelen mesajlar-->
    <div class="msggin-box-card">
        <div *ngFor="let m of listall" 
             [ngClass]="{'msgcontent_sender': m.msg_sender_id != 24, 'msgcontent_receiver': m.msg_sender_id == 24}">
            <span class="">{{ m.msg_detail }}</span>
            <br/>
            <span style="font-size:14px;">{{ m.msg_date }}</span>
        </div>
    </div>

<form [formGroup]="searchForm">
    <!-- Giden mesajlar -->
    <div class="inputplace" style="float: left;">
        <textarea formControlName="searchInput" placeholder="Bir şeyler yaz"></textarea>
        <button (click)="onSubmit($event)">Gönder</button>
    </div>
</form>

    